
body {
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/4762d296-a725-471a-9933-1827063a3629/d1xemnv-9c72d62c-3416-4cd6-b79d-2e9c6a66ac66.jpg);
}

h1 {
    flex: auto;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    color: black;
    font-size: 60px;
    font-family: sans-serif;
    margin-bottom: 150px;
    margin-top: 70px;
}

@media screen and (max-width: 500px) and (min-width:30px){
    h1 {
        text-size-adjust: auto;
    }
}

.kennyImg {
    display: flex;
    flex: auto;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    margin: 18px;
}
    
button{
    height: 50px;
    background-color: red;

}

.hugBtn {
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}